<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>
  <p>
    <strong>Publish:</strong>
    <%= movie.publish %>
  </p>
  <hr />
  <% if movie.poster.content_type.in?(%w[image/jpeg image/png image/jpg]) %>
    <%= link_to image_tag(movie.poster,
    style:"width:300px, height:300px"), movie.poster %>
  <% end %>
  <hr />
  <% if movie.title_song.audio? %>
  <audio controls>
    <source src="<%= rails_blob_url(movie.title_song) %>"
      type="<%= movie.title_song.content_type %>" />
  </audio>
  <% end %>
  <hr />
  <% if movie.trailer.video? %>
    <video controls width="480">
      <source src="<%= rails_blob_url(movie.trailer) %>"
        type="<%= movie.trailer.content_type %>" />
    </video>
  <% end %>
  <hr />
  <%= movie.body %>
</div>
