<p style="color: green"><%= notice %></p>

<h1>Movies</h1>
<%= link_to "New movie", new_movie_path %>
<hr />
<div id="movies">
  <% @movies.each do |movie| %>
  <div class="row  mt-4 clearfix">
    <div class="col-8 col-sm-8 col-md-9 col-lg-9">
      <h5 class="mt-0 mb-1">
        <a href="/movies/<%= movie.id %>",
        class="nav-link"><%= movie.title %></a>
      </h5>
      <time class="dateline text-muted" role="" itemprop="datePublished" datetime="28.03.2023 09:13" data-timestamp="1679987580">
        <small><%= movie.publish %></small>
      </time>
      <%= truncate(strip_tags(movie.body.to_s), length:160) %>
    </div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
      <% if movie.poster.attached? %>
        <%= link_to image_tag(movie.poster,
        style:"width:200px; heigh:auto"), movie.poster %>
      <% end %>
    </div>
  </div>
  <hr />
  <% end %>
</div>
<%= link_to "New movie", new_movie_path %>
<hr />
<br />
